$border-radius: 6px;
.v-text-field {
  font-family: "DM Sans", sans-serif;
  margin-top: 18px !important;
  .v-field__outline__start {
    border-radius: $border-radius 0 0 $border-radius !important;
  }
  .v-field__outline__end {
    border-radius: 0 $border-radius $border-radius 0 !important;
  }
}
