$border-radius: 6px;
.v-textfield input {
  font-size: 2rem !important;
}
.v-text-field {
  margin-top: 18px !important;
  .v-field__outline__start {
    border-radius: $border-radius 0 0 $border-radius !important;
  }
  .v-field__outline__end {
    border-radius: 0 $border-radius $border-radius 0 !important;
  }
}
