$border-radius: 6px;
.v-text-field {
  margin-bottom: 12px !important;
  .v-field__outline__start {
    border-radius: $border-radius 0 0 $border-radius !important;
  }
  .v-field__outline__end {
    border-radius: 0 $border-radius $border-radius 0 !important;
  }
}
