@use "sass:math";
@use "sass:map";
@use "sass:meta";
@use "vuetify/lib/styles/tools/functions" as *;
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;700&display=swap");

$body-font-family: "Public Sans", sans-serif;

// @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
// ==================================== //
// Global Settings
// ==================================== //
$font-size-root: 16px;

// Rounded size classes are based off of the $border-radius-root
// variable which has a default value of 0.25rem.
$border-radius-root: 0.17rem;
